/* You can delete / re-write this img class  */

img {
  max-width: 200px;
}
.body {
  display: flex;
  align-content: center;
}
/* Happy coding! */

/* structure-Block styles for the cards */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.3rem solid #ed1313;
  padding: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  background-color: aquamarine;
}

/* Modifier styles for the Dark Side card */
.card--darkside {
  background-color: #333;
  color: #c4ebbb;
}

/* Modifier styles for the Force card */
.card--force {
  background-color: #dea2a2;
  /* color: aliceblue; */
}

/* Element styles for the images */
.card--image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.card h2 {
  margin-top: 0;
}

/* Element styles for the paragraphs */
.card p {
  font-size: 1rem;
}

/* Styles for the container */
.container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
@media (max-width: 500px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  }


  /* -----activity extention 2----------- */
/* block style for button */
.button{
font: 1em sans-serif;
}
/*modifier style for button*/
.button--good{
    background-color: chartreuse;
}
.button--danger{
    background-color: #ed1313;

}

.button--warning{
    background-color: darkkhaki;
}